@tailwind base;
@tailwind components;
@tailwind utilities;

.bounce:hover {
  animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.fadeIn {
  animation: 1s fadeIn ease-out;
  animation-fill-mode: forwards;

  visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
